.footer {
  width: 100%;
  background-color: #333;
  color: #ffffff;
  padding: 1rem 0;
  text-align: center;
  position: relative;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.footer p {
  margin: 0.5rem 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .footer-content {
    font-size: 0.9rem; /* Slightly smaller text on smaller screens */
    padding: 1.5rem; /* Reduce padding */
  }
}

@media (max-width: 480px) {
  .footer-content {
    font-size: 0.8rem; /* Even smaller text for very small screens */
    padding: 1.5rem;
  }
}
