/* Import the Segoe Script font */
@import url("https://fonts.googleapis.com/css2?family=Segoe+Script:wght@400;700&display=swap");

/* Initial header positioning (placed below TitlePage) */
.header {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 35px 0;
  z-index: 1000;
}

/* Header content styling */
.header-content {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative; /* This helps in positioning elements within */
}

/* Logo styling for script font */
.script-logo {
  font-family: "Segoe Script", cursive;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  position: relative;
  left: -50px; /* Move the logo to the left */
}

/* Add hover effects for the script logo */
.script-logo:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links span {
  color: white;
  margin: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .logo h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .nav-links {
    justify-content: center;
    width: 100%;
  }

  .nav-links a {
    margin: 5px 10px;
    font-size: 1.2rem;
  }

  .nav-links span {
    display: none;
  }
}
